<ion-header [translucent]="true" mode="ios">
  <ion-toolbar color="primary">
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon slot="icon-only" name="camera"></ion-icon>
      </ion-button>
      <ion-button>
        <ion-icon slot="icon-only" name="search" ></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button color="light" id="popover-button2">
        <ion-icon slot="icon-only" ios="ellipsis-horizontal" md="ellipsis-vertical"></ion-icon>
      </ion-button>
      <ion-popover trigger="popover-button2" [dismissOnSelect]="true">
        <ng-template>
          <ion-content color="light">
            <ion-list>
              <ion-item [button]="true" [detail]="false">Nuevo grupo</ion-item>
              <ion-item [button]="true" [detail]="false">Nueva difusión</ion-item>
              <ion-item [button]="true" [detail]="false">Dispositivos vinculados</ion-item>
              <ion-item [button]="true" [detail]="false">Mensajes destacados</ion-item>
              <ion-item [button]="true" [detail]="false" routerLink="/ajustes">Ajustes</ion-item>
            </ion-list>
          </ion-content>
        </ng-template>
      </ion-popover>
    </ion-buttons>
    <ion-title>Estados</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="light">
  <ion-card>
    <ion-list>
      <app-item-chat *ngFor="let chat of estados" [username]="chat.username" [date]="chat.date"
        [avatarUrl]="chat.avatarUrl"></app-item-chat>
    </ion-list>
  </ion-card>
</ion-content>
